.header_back_password {
  padding-left: 21px;
  p {
    @include font(13px, 400, #333333);
    margin-bottom: 10px;
  }
}
.header_back_password_border {
  margin: 8px 0px 23px 0px;
  border-bottom: 1px solid #d7d7d7;
}
