.training_category_arrow_left {
  top: 20%;
  left: 28px;
}
.training_category_arrow_right {
  top: 20%;
  right: 30px;
}
.training_category_arrow_left_second {
  top: 50%;
  left: 28px;
}
.training_category_arrow_right_second {
  top: 50%;
  right: 28px;
}
